body {
    padding-bottom: 70px;
}

table .glyphicon {
    margin-left: 5px;
    margin-right: 5px;
}

table a, table a:visited {
    color: #000;
}

.btn-add-set {
    margin-top: 15px;
}

.form-add-set {
    padding: 10px 0;
    border: .2rem solid #f7f7f9;
}

.form-add-set .form-group {
    margin: 0 10px 0 0;
}

.form-add-set .control-label {
    vertical-align: baseline;
}

.add-set {
    padding-bottom: 10px;
}

.btn-remove-set {
    display: none;
}